pyyaml
tqdm
numpy==1.26.4
easydict
scikit-image==0.21.0
scikit-learn==1.3.0
opencv-python
joblib
matplotlib
pandas
albumentations==0.5.2
hydra-core==1.3.2
pytorch-lightning==1.7.7
torchmetrics==0.9.3
tabulate
kornia==0.7.0
webdataset
packaging
wldhx.yadisk-direct
